// .content {
//   display: flex;
//   align-items: center;
//   gap: 12px;
// }
// mat-dialog-content {
//   min-width: 320px;
//   padding: 16px 0;
// }

// mat-dialog-actions {
//   margin-top: 16px;
// }

:host {
  display: block;
}

mat-dialog-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

mat-dialog-content {
  margin-top: 12px;
  min-width: 320px;
  font-size: 15px;
}

::ng-deep .confirm-backdrop {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
}